/* Basic Styles */

.main {
    display: flex;
    height: 90vh;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .button-group .nav-button {
    font-size: 20px;
    border: 3px solid #565656;
    font-family: 'poppins', sans-serif;
    background: transparent;
    color: #646464;
    border-radius: 14px;
    padding: 0 22px;
    margin: 0 4px;
}

.navbar .navbar-nav .nav-item {
    margin: 0 8px;
}

.navbar .navbar-nav .list-item {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline transparent;
}

.navbar .navbar-nav .list-item.active {
    position: relative;
    font-weight: 700;
}

.navbar .navbar-nav .list-item.active::before {
    content: "";
    background-color: #000;
    height: 2.3px;
    width: 60%;
    left: 20%;
    bottom: 20%;
    position: absolute;
}


.main .square {
    bottom: 2%;
    left: 2%;
    z-index: -1;
}

.main .star {
    top: 14%;
    right: 0%;
}

.main .star2 {
    bottom: 4%;
    left: 10%;
}

.main .globe {
    top: 9%;
    right: 37%;
}

.user-img img {
    margin-top: -40px;
    height: 60vh;
}

.hero-container-right .hero-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    padding-top: 120px;
}

.hero-container-right .hero-description {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #646464;
    margin: 50px auto;
}

.hero-container-right .button-email {
    font-size: 20px;
    border: 3px solid #646464;
    font-family: 'Orbitron', sans-serif;
    background: transparent;
    color: #646464;
    border-radius: 14px;
    padding: 0 14px;
    margin: 30px 4px;
}

.hero-container-right .button-join {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: #000;
    border: 2px solid transparent;
    border-radius: 14px;
    padding: 0 15px;
    margin: 30px 4px;

}

.hero-container-right .contact-heading {
    font-family: 'poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #646464;
    margin: 90px auto 20px auto;
}


.hero-container-right .icons span {
    margin: 8px 10px;
}

.navbar-toggler {
    padding: 4px 6px;
}

@media (max-width:1200px) {
    .hero-container-right .hero-heading {
        padding-top: 100px !important;
    }

    .user-img img {
        margin-top: 40px !important;
        height: 80vh;
    }

    .main .square {
        bottom: -13% !important;
        left: 28% !important;
    }

    .main .globe {
        top: auto !important;

        bottom: -24% !important;
        right: -3% !important;
    }
}


@media (max-width:680px) {
    .navbar .navbar-brand img {
        width: 70% !important;
    }

    .navbar-toggler-icon {
        width: 40px !important;
    }

    .user-img img {
        margin-top: 40px !important;
        height: 500px;
    }

    .main .square img {
        width: 400px !important;

    }

    .hero-container-right .hero-heading {
        padding-top: 120px !important;
    }

    .main .globe {
        top: auto !important;
        bottom: -5% !important;
        right: 5% !important;
    }

    .hero-container-right .hero-heading {
        font-size: 35px !important;
    }

    .hero-container-right .hero-description {
        font-size: 14px;
    }

    .main .square {
        bottom: 7% !important;
        left: 17% !important;
    }

    .main .star2 {
        bottom: 3%;
        left: 5%;
    }
}

@media (max-width:480px) {
    .navbar .navbar-brand img {
        width: 60% !important;
    }

    .navbar-toggler-icon {
        width: 35px !important;
    }

    .user-img img {
        margin-top: 40px !important;
        height: 300px;
    }

    .main .square img {
        width: 240px !important;

    }

    .main .globe {
        top: auto !important;
        bottom: 24% !important;
        right: 15% !important;
    }

    .hero-container-right .hero-heading {
        font-size: 35px !important;
    }

    .hero-container-right .hero-description {
        font-size: 14px;
    }

    .main .square {
        bottom: 42% !important;
        left: 13% !important;
    }

    .hero-container-right .button-email,
    .hero-container-right .button-join {
        font-size: 16px;
        padding: 0 14px;
        margin: 25px 4px;
    }

    .main .star2 {
        bottom: 3%;
        left: 5%;
    }

    .hero-container-right .contact-heading {
        font-size: 20px;
        margin: 70px auto 18px auto;
    }
}

@media (max-width:360px) {
    .navbar .navbar-brand img {
        width: 50% !important;
    }

    .navbar-toggler-icon {
        width: 25px !important;
    }

    .user-img {
        margin-top: 40px !important;
    }

    .main .star {
        top: 4%;
        right: 0%;
    }

    .main .star img {
        width: 55% !important;
    }

    .main .square {
        bottom: 36% !important;
        left: 16% !important;
    }

    .main .globe {
        top: auto !important;
        bottom: 22% !important;
        right: 10% !important;
    }

    .main .star2 img {
        width: 45% !important;
    }

    .main .star2 {
        bottom: 3%;
        left: -2%;
    }
}